*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

body{
  background: #A2B36F;
}
ul{text-align-last: right;
  list-style-type: none;
  margin-top: 15px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #996633;
  padding: 5px 20px;
  border: 1px transparent;
  background-color: #E6F4C0; 
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: #FBF4E1;
  color: black
}
ul li.active a{
  background-color: white;
  color: green;
}
.main{
  max-width: 1500px;
  margin: auto;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #89BA04;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #89BA04;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #D4EE82;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
#wholepage{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}